.container {
	width: 60%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

.searchBar{
	display: flex;
	align-items: left;
	margin-bottom: 10px;
}

.searchBar input[type='text'] {
	padding: 10px;
	margin-right: 10px;
	border: 1px solid #64bee8;
	border-radius: 4px;
}

.searchBar select {
	padding: 10px;
	margin-right: 10px;
	border: 1px solid #64bee8;
	border-radius: 4px;
}

.searchBar label {
	display: flex;
	align-items: flex-end;
}

.searchBar input[type='checkbox'] {
	margin-left: 10px;
	/* color: #64bee8; */
	align-items: end;
}

table {
	width: 100%;
	border-collapse: collapse;
	/* border-color: #64bee8; */
	border-radius: 5rem;
	margin-top: 20px;
}

table
{
	border: 1px solid;
	border-color: #878787;
	border-radius: 5rem;
}

th,
td {
	padding: 20px;
	text-align: left;
}


tr.highlight {
	background-color: #747f90;
}
