.table-container {
	max-height: 400px; /* Adjust as needed */
	overflow-y: auto;
	width: 80%;
	margin: 0 auto;
}

.user {
	width: 100%;
	border-collapse: collapse;
}

.user th,
.user td {
	border: 1px solid #ddd;
	padding: 8px;
}

/* .user tr:nth-child(even) {
	background-color: #f2f2f2;
} */

.user tr:hover {
	background-color: #ddd;
}

.user th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #76b3d3;
	color: white;
}

.highlight {
	background-color: yellow;
}

.searchBar {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
	width: 80%;
	margin: 0 auto;
}

.searchBar input,
.searchBar select,
.searchBar button {
	padding: 10px;
	font-size: 16px;
}
